@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-align: justify;
}

body {
  font-family: 'Kanit', sans-serif;
  overflow-x: hidden;
}

.wrapper {
  width: 100%;
  height: 100%;
  background-color: #2F4F4F;
  color: #F5F5DC;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

.brand {
  margin-top: -7px;
}

.brand span {
  color: #FF8C00;
}

.menu {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap row;
}

.menu li {
  list-style: none;
}

  
.menu a {
  color: #F5F5DC;
  text-decoration: none;
  padding: 10px 20px;
}

.menu .active {
  color: #FF8C00;
}

.menu a:hover {
  background-color: #FF8C00;
  color: #2F4F4F;
  transition: ease-in .4s;
}

.main {
  background-color: #2F4F4F;
  margin: 0 auto;
  padding: 2em;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2em;
}

.main h1 {
  font-size: 4em;
  text-align: center;
  color: #fff;
}

.main p {
  color: #fff;
}

span {
  color: #FF8C00;
}

.download-cv {
  padding: 10px 20px;
  background-color: #FF8C00;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
}

.download-cv:hover {
  background-color: #F5F5DC;
  box-shadow: none;
}

.main img {
  width: 100%;
  z-index: 0;
}

.about {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 100vw;
  align-items: center;
  color: #2F4F4F;
}

.about img {
  width: 100%;
  grid-column: 1/5;
}

.about-info {
  grid-column: 5/10;
  padding: 3em;
}

.about-info h2 {
  font-size: 3em;
  color: #2F4F4F;
}

.divider {
  height: 4px;
  width: 60px;
  background-color: #FF8C00;
  margin-top: 5px;
  margin-bottom: 2em;
}

.about p {
  margin-bottom: 1em;
}

.contact-section {
  padding: 3em;
  background-color: #2F4F4F;
  color: #fff;
}

.contact-headings h2 {
  font-size: 3em;
}

.container-contact {
  padding: 3em;
  margin: 0 auto;
}

.formulario {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin-top: 2em;
}

.formulario input {
  padding: 10px 20px;
  margin-bottom: 1em;
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}

.formulario textarea {
  height: 150px;
  padding: 1.5em;
  background: none;
  border: 1px solid #fff;
  color: #fff;
}

.formulario .btn-submit {
  padding: 10px 20px;
  margin: 1em;
  border-radius: 20px;
  border: none;
  text-transform: uppercase;
  background-color: #FF8C00;
  cursor: pointer;

}

.btn-submit:hover {
  background-color: #fff;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 200px;
  background-color: #FF8C00;
}

.footer-content h2 {
  font-size: 2em;
}

.footer-content h5 {
  font-size: 1em;
  text-align: center;
}

.social-network {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  margin-top: 1em;
}

.social-network i {
  font-size: 1.5em;
  cursor: pointer;
}

.social-network i:hover {
  background-color: #b96f0e;
}

.wrapper-masSobreMi {
  width: 100%;
  height: 15vh;
  background-color: #2F4F4F;
  color: #F5F5DC;
}

.main-masSobreMi {
  margin: 2em;
  width: 95%;
  height: 100vh;
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2em;
}

.main-masSobreMi img {
  width: 300px;
  margin: 2em;
  border: 7px solid #b96f0e;
}

.wrapper-tecnologiasYlenguajes {
  background-color: #2F4F4F;
  color: #fff;
  padding: 2em;
}

.main-tecnologiasYlenguajes {
  margin: 2;
  width: 100%;
  padding: 2em;

}

.info-content h1 {
  text-align-last: center;
}

.ContenedorDeLosLenguajes {
  margin: 2em;
  width: 95%;
  height: 400vh;
  display: block;
}

.ContenedorDeLosLenguajes h2 {
  margin-top: 2em;
}

.main-cursos {
  margin: 2;
  width: 100%;
  padding: 2em;
}

.INFORMATORIO {
  margin: 3em;
}

.UDEMY {
  margin: 3em;
}

.OTROS {
  margin: 3em;
}

.Imagenes-Cursos img {
  max-width: 100%;
}